.list-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: max-content;
  box-shadow: 0 0 0 1px var(--primary);
  background-color: #454e6e00;
  border: var(--border-custom);
  border-color: var(--primary);
  border-radius: var(--border-radius);
  padding: var(--padding-small);
}
