.error-card {
  padding: var(--padding-small);
  border: var(--border-custom);
  border-radius: var(--border-radius);
  color: var(--primary);
  background-color: var(--secondary);
}
.error-subtitle {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--error);
}
